# Playground for Riot Watcher

This is a testing notebook where I explore and test out features of `riotwatcher`.

In [1]:
from riotwatcher import LolWatcher, ApiError
import pandas as pd
import zilean
from zilean import SnapShots

import json

api_key = zilean.read_api_key()
watcher = LolWatcher(api_key=api_key)
my_region = 'na1'
me = watcher.summoner.by_name(my_region, 'yENatividad')

## Match Timeline Summary

In [2]:
my_matches = watcher.match.matchlist_by_puuid(my_region, me['puuid'])
latest_matchid = my_matches[2]
latest_match = watcher.match.by_id(my_region, latest_matchid)
latest_timeline = watcher.match.timeline_by_match(my_region, latest_matchid)

In [4]:
snaps = SnapShots(latest_timeline, frames=[5, 10])
pd.DataFrame(snaps.summary())

,level_0_frame5,timeEnemySpentControlled_0_frame5,totalGold_0_frame5,xp_0_frame5,totalDamageDone_0_frame5,totalDamageDoneToChampions_0_frame5,totalDamageTaken_0_frame5,creepScore_0_frame5,goldPorportion_0_frame5,xpPorportion_0_frame5,...,totalGold_4_frame10,xp_4_frame10,totalDamageDone_4_frame10,totalDamageDoneToChampions_4_frame10,totalDamageTaken_4_frame10,creepScore_4_frame10,goldPorportion_4_frame10,xpPorportion_4_frame10,matchId,win
0,0,2609,-105,-210,-71,-682,502,-8,0.007222,-0.021216,...,-457,237,2448,552,318,7,-0.004807,0.032869,NA1_4307172207,False

## Fetch Leagues